extends layout

block content

		div.ficha
			h2=animal.nombre
			div.animalData
				img(src=animal.imagen)
				div.animalDescripcion
					h4 especie: #{animal.especie}
					h4 edad: #{animal.edad}
					h4 tamaño: #{animal.tamaño}
					p=animal.descripcion
